
.ibps-contextmenu {
  position: absolute;
  z-index: 1000;
  font-size: 14px;
  left: 0;
  top: 0
}

.ibps-contextmenu__menu {
  display: block;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.12),0 0 6px rgba(0,0,0,.04);
  box-shadow: 0 2px 4px rgba(0,0,0,.12),0 0 6px rgba(0,0,0,.04);
  list-style: none;
  margin: 0;
  padding: 4px 0;
  min-width: 100px;
  border-radius: 2px;
  background: #fff
}

.ibps-contextmenu__item {
  position: relative;
  line-height: 36px;
  padding: 0 20px;
  margin: 0;
  cursor: pointer;
  clear: both;
  color:#606266;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.ibps-contextmenu__item:hover {
  background-color: #ecf5ff;
  color: #66b1ff;
}

.ibps-contextmenu__item.is-disabled {
  color: rgba(0,0,0,.45);
  cursor: not-allowed
}

.ibps-contextmenu__item.is-disabled:hover {
  background: inherit;
  color: rgba(0,0,0,.45)
}

.ibps-contextmenu__item.is-has-child .ibps-contextmenu__info {
  padding-right: 0
}

.ibps-contextmenu__item>.ibps-contextmenu__menu {
  position: absolute;
  left: 100%;
  top: 0;
  white-space: nowrap
}

.ibps-contextmenu__item>.ibps-contextmenu__menu.is-left {
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%)
}

.ibps-contextmenu__item>.ibps-contextmenu__menu.is-bottom {
  bottom: 0;
  top: auto
}

.ibps-contextmenu__divided {
  height: 0;
  border-top: 1px solid #EBEEF5;
  margin: 2px 0;
  clear: both
}

.ibps-contextmenu__label {
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top
}

.ibps-contextmenu__icon {
  width: 20px;
  display: inline-block;
  vertical-align: top
}

.ibps-contextmenu__icon .my-icon.is-svg {
  vertical-align: middle;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px)
}

.ibps-contextmenu__info {
  padding-right: 10px;
  opacity: .7
}

.ibps-contextmenu__arrow {
  margin-right: -4px
}

.ibps-contextmenu.is-dark .ibps-contextmenu__menu {
  background: rgba(0,0,0,.85)
}

.ibps-contextmenu.is-dark .ibps-contextmenu__item {
  color: #e6f7ff
}

.ibps-contextmenu.is-dark .ibps-contextmenu__item.is-disabled {
  color: hsla(0,0%,100%,.45);
  cursor: not-allowed
}

.ibps-contextmenu.is-dark .ibps-contextmenu__item.is-disabled:hover {
  background: transparent
}

.ibps-contextmenu.is-dark .ibps-contextmenu__divided {
  border-top: 1px solid hsla(0,0%,100%,.15)
}