/*****************  search  ********************/
#app .z-toolbar .search-area { padding-bottom: 0; }
.search-area .vxe-button--dropdown-panel .vxe-button--dropdown-wrapper { float: left; position: absolute; right: 0; }
.work-area .vxe-button--dropdown-panel .vxe-button--dropdown-wrapper { left: -32px; right: auto; }
.search-area .vxe-button--dropdown-panel { top: 32px; }
.search-area .vxe-button--dropdown .vxe-button--dropdown-panel .vxe-button--dropdown-wrapper .vxe-button .vxe-button--content { background: none; padding: 2px 8px; width: 100%; display: block; height: 100%; min-width: 100px; width: auto; text-align: left; }
.search-area .vxe-button--dropdown .vxe-button--dropdown-panel .vxe-button--dropdown-wrapper .vxe-button:hover .vxe-button--content { background: #f5f5f5; }
.search-area .add-btn, .search-area .vxe-form--item-trigger-node { opacity: 0.72; transition: all 0.3s; }
.search-area .add-btn:hover, .search-area .vxe-form--item-trigger-node { opacity: 1; }
.search-btn-area .vxe-button.type--button.theme--primary:not(.is--disabled), .search-btn-area .vxe-button.type--button.theme--primary:not(.is--disabled):hover { border-color: #fff; background-color: #fff; }
.vxe-grid .vxe-grid--form-wrapper { background: #fff; }
.search-area .vxe-form { overflow: initial; }
.form-wrap .vxe-form--item { padding: 0; }
.form-wrap .el-form--item { padding: 0; }
.vxe-form--item-trigger-node { width: 32px; height: 32px; min-width: 32px; }
.vxe-form--item-trigger-text { display: none; }
.vxe-icon--arrow-top::before { display: none; }
.vxe-button--dropdown .vxe-button.type--button { width: 32px; height: 32px; border: none; padding: 0; }
.vxe-button--dropdown-arrow { display: none; }
.search-area { float: left; width: 100%; }
.search-area .search-btn-area { float: right; }
.search-area .more-btn .vxe-button { width: 32px; height: 32px; float: left; margin: 0; background: url(../images/cpImg/more-ico.png) center no-repeat; background-size: 18px; }
.search-area .add-btn { width: 32px; height: 32px; float: left; background: url(../images/cpImg/add2.png) center no-repeat; background-size: 18px; background-color: none; border: none; }
.search-area .add-btn .vxe-button { background: none; }
.search-area .vxe-button .fa { display: none; }
.search-area .vxe-button.type--button.theme--primary:not(.is--disabled).add-btn .vxe-button--icon, .vxe-button.type--button.theme--primary:not(.is--disabled).add-btn .vxe-button--icon+.vxe-button--content { display: none; }
.search-area .more-btn .vxe-button .vxe-button--content { display: block; width: 100%; height: 100%; background: url(../images/cpImg/more-ico.png) center no-repeat; background-size: 18px; }
.search-area .select-btn { border: none; display: block; width: 32px; height: 32px; float: left; margin: 0 5px; background: url(../images/cpImg/select.png) center no-repeat; background-size: 18px; }
.vxe-form--item-content .vxe-button.select-btn { width: 32px; height: 32px; border: none; margin: 0 3px; float: left; }
.vxe-form--item-content .vxe-button.select-btn .vxe-button--icon { display: none; }
.search-btn-area .vxe-form--item-inner { float: right; }
.vxe-form--item-content .vxe-button--dropdown { float: left; margin: 0; }
.vxe-form--item-content .vxe-form--item-trigger-node { float: right; }
.search-area .vxe-form--item-content .vxe-button{ float: left; line-height: 0.5;}
.vxe-button.type--text.theme--perfect { color: #999; }
.vxe-button.type--text.theme--perfect:not(.is--disabled):hover { color: #4b9ff0; }
.vxe-button.type--text.theme--perfect.is--disabled { color: #999; opacity: 0.72; }
.vxe-button.size--small .vxe-button--icon, .vxe-button.size--small .vxe-button--loading-icon { display: none; }
.vxe-input { height: 32px; }
.vxe-input--inner { border-radius: 2px; color: #606266; border: 1px solid #e6e6e6; }
.vxe-pager { color: #606266; }
.work-area .vxe-button:not(.is--disabled) { color: #409eff; }
.search-area .vxe-form--item { float: left; padding: .5em .8em .5em 0; }
.search-area .vxe-form--item.search-btn-area { float: right; }
.more-select { width: 100%; float: left; }
.more-select-content { width: 100%; float: left; }
.search-area { background: #fff; padding: 4px 0 0 0; box-sizing: border-box; }
.more-select .more-select-content .vxe-form--item-content .el-cascader, .more-select .more-select-content .vxe-form--item-content .vxe-input, .more-select .more-select-content .vxe-form--item-content .vxe-select { width: 100%; }
.vxe-table .col--checkbox .vxe-cell { padding: 0; }
.vxe-table .vxe-cell--checkbox .vxe-checkbox--icon::before { border: 1px solid #ddd; }
.theme-d2 .d2-theme-container .d2-theme-container-aside .el-submenu .el-submenu__title { color: #999999; }
.work-area .vxe-button--dropdown-panel { left: auto; right: 0; }
.more-select .vxe-form--item { width: 20.83333%; }
.vxe-button--dropdown-panel { right: 0; }
.vxe-button--dropdown .vxe-button.type--button { height: 32px; line-height: 32px; }
#app .tab-btn .vxe-button.type--button span { display: block; line-height: 30px; }
.el-form .el-button { color: #606266; }
.d2p-search-form .el-form-item { width: 20.83333%; }
.search .el-form-item .el-form-item__label { width: 100px; text-align: right; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; word-break: break-all; }
.el-form-item .el-form-item__content { width: calc(100% - 100px); box-sizing: border-box; }
.el-form-item.search-btns .el-form-item__content { width: 100%; }
.vxe-form .vxe-form--item-inner { min-height: 30px; background: #fafafa; }
.search-area .vxe-form .vxe-form--item-inner { background: none; }
.search-btn-area .more-btn .vxe-button--dropdown-panel .vxe-button { background: none; }
.search-area .el-range-editor.el-input__inner { padding: 0 8px; width: auto; }
#app .vxe-button.type--button { height: 32px; }
.search-area .el-input__inner { border: 1px solid #e6e6e6; }
.search .el-form--inline .el-dialog__wrapper .el-form-item { width: 100%; }
.tab-area { float: left; margin-left: 8px; }
.tab-area a { padding: 8px 16px; border-bottom: 2px solid #fff; transition: all 0.3s; }
.tab-area a.el-link--primary { border-bottom: 2px solid #409eff; }
.tab-area .el-link.is-underline:hover:after { display: none; }
#app .search-area .vxe-button.type--button:hover{border-color: #c6e2ff !important;background-color: #ecf5ff !important;}
#app .search-area .add-btn .vxe-button.type--button:hover{border-color: #c6e2ff !important; background: url(../images/cpImg/add2.png) center no-repeat#ecf5ff !important; background-size: 18px !important;}
#app .search-area .vxe-button.theme--primary:hover{background-color: #5faeff !important;border-color: #5faeff !important;}
.search-area .vxe-form--item-content .vxe-button--dropdown-wrapper .vxe-button{ height: 32px; box-sizing: border-box;}
.toolbar-btns .vxe-button.type--button i,.toolbar-btns .vxe-button.type--button span{ display: block;float: left; line-height: 30px;}
.search .el-input__prefix{ right:5px; left: auto;}
.search-area .el-date-editor .el-range-input{ text-align: left; padding-left: 10px; box-sizing: border-box;}
.search .el-date-editor--datetime .el-input__inner{padding-left:32px;}
.search .el-date-editor--datetime .el-input__prefix{left:5px;right:auto;}
 @media screen and (max-width: 1440px) {
.vxe-form--item-title { width: 80px; }
.vxe-form--item.is--span .vxe-form--item-content { width: calc(100% - 80px); }
.d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-full { padding: 8px; }
.search-area { padding: 4px 8px 0 8px; }
#app .vxe-button.type--button { height: 28px; }
#app .vxe-input { height: 28px; }
.search-area .vxe-input { font-size: 13px; }
}
